/* Container for the title */
.title {
	text-align: center;
	padding-top: 0.3em;
	font-weight: bold;
	font-family: 'Oswald';
	font-size: 60px;
}
/* Color of "Sort" */
.title-first-word {
	color: #45a3e5;
}
/* Color of "The" */
.title-second-word {
	color: #d5d7d9;
}
/* Color of "Gamedle" */
.title-third-word {
	color: #ff3355;
}

/* Container that creates a grid for the game tiles */
.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 0.01fr);
}
/* Style for a game tile */
.game-tile {
  background-color: #edeff1; 
  box-shadow: 0px 10px #d5d7d9;
  width: 176px;
  height: 80px;
  padding-top: 2.7em;
  padding-bottom: 2.7em;
  border: none;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  text-align: center;
  
  overflow: hidden;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.game-tile-text {
	 padding: 6px;
}

/* Positioning the "Games Found" text */
.games-found {
	font-family: 'Oswald';
	font-size: 40px;
	left: 14em; 
	top: 2.8em;
	position: relative;
}
/* Positioning the "Swaps Left" text */
.swaps-left {
	font-family: 'Oswald';
	font-size: 40px;
	left: 27em; 
	top: 2.8em;
	position: relative;
}
/* Default text style, used for the text on the game tiles */
p {
	font-family: 'Oswald';
	font-size: 24px;
}

/* Sets the width of accordions */
.accordion {
	max-width: 49em;
	margin: 1.5rem auto;
	padding-right: 1em;
}

.accordion-title {
	font-family: 'Oswald';
	font-size: 22px;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.3em;
}

.accordion-content {
	font-family: 'Oswald';
	font-size: 18px;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.3em;
}

.game-over {
	text-align: center;
	padding-top: 0.01em;
	font-weight: normal;
	font-family: 'Oswald';
	font-size: 25px;
}

.game-over-bg {
	max-width: 50em;
	margin: 0.5rem auto;
	padding-top: 0.01em;
	padding-bottom: 0.01em;
	background-color: #edeff1; 
}