/* Container for the title */
.title {
	text-align: center;
	padding-top: 0.5em;
	font-weight: bold;
	font-family: 'Oswald';
	font-size: 60px;
}
/* Color of "Sort" */
.title-first-word {
	color: #45a3e5
}
/* Color of "The" */
.title-second-word {
	color: #d5d7d9
}
/* Color of "Gamedle" */
.title-third-word {
	color: #ff3355
}

/* Container that creates a grid for the game tiles */
.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 0.1fr);
}
/* Style for a game tile */
.game-tile {
  background-color: #edeff1; 
  box-shadow: 0px 10px #d5d7d9;
  width: 12em;
  padding-top: 3em;
  padding-bottom: 3em;
  border: none;
  border-radius: 25px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

/* Positioning the "Games Found" text */
.games-found {
	font-family: 'Oswald';
	font-size: 40px;
	left: 13.5em; 
	top: 3.5em;
	position: relative;
}
/* Positioning the "Swaps Left" text */
.swaps-left {
	font-family: 'Oswald';
	font-size: 40px;
	left: 28em; 
	top: 3.5em;
	position: relative;
}
/* Default text style, used for the text on the game tiles */
p {
	font-family: 'Oswald';
	font-size: 24px;
}